/*Для начала очистим все отступы и границы*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*следующая запись (в двух словах) меняет подсчет ширины блока так, чтобы было удобно верстать*/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*следующее-убираем линии обводки у некоторых браузеров*/

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

/*далее перечисляем некоторые HTML теги и добавляем им значение block, что делает их блочными*/

nav,
footer,
header,
aside {
  display: block;
}

/*далее обратимся к тегам HTML и BODY и применим к ним параметры, которые уравнивают поведения шрифтов и элементов для разных браузеров и в том числе запрещают самовольное увеличение шрифта, например на айфонах*/

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjuct: 100%;
}

/*далее обращаемся к тегам форм и указываем им на наследование семества шрифта*/

input,
button,
textarea {
  font-family: inherit;
}

/*добавляем еще несколько параметров, которые убирают некоторые особенности в разных браузерах*/

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*обнуляем все заголовки Н*/

H1,
H2,
H3,
H4,
H5,
H6 {
  font-size: inherit;
  font-weight: inherit;
}

